{% extends "layout.html" %}

{% block body %}
    <h1>Register</h1>
    <form action="/register" method="post">
        <input type="text" autocomplete="off" name="name" autofocus placeholder="Your name">
        <input type="email" autocomplete="off" name="email"  placeholder="Your email">
        <!--
            {% for sport in sports %}
                <input name="sport" type="checkbox" value="{{sport}}"> {{sport}}
            {% endfor %}
        -->

        <select name="sport">
            <option disabled selected value="">Sports</option>
            {% for sport in sports %}

            <option value="{{sport}}">{{sport}}</option>

            {% endfor %}
        </select>
        <input type="submit" value="Register">
    </form>
{% endblock %}